* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

header {
  color: #d9ead3;
  background: #231010;
}

nav {
  display: flex;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 1.5em;
}

article {
}
